
/* BUTTONS */

/* Base Button */
.st_btn {
    border: 1px solid;
    cursor: pointer;
    transition: var(--transition-fast);
    font-weight: 700;
    letter-spacing: 0.075em;
}

/* Call-to-Action (CTA) Buttons */
.st_btn--cta {
    background-color: rgb(var(--clr-accent-base));
    border-color: rgb(var(--clr-accent-base));
    color: rgb(var(--clr-light-base));
}

.st_btn--cta:hover {
    background-color: rgb(var(--clr-accent-d-100));
    border-color: rgb(var(--clr-accent-d-100));
    color: rgb(var(--clr-light-base));
}

.st_btn--cta-outline {
    background-color: transparent;
    color: rgb(var(--clr-accent-base));
    border-color: rgb(var(--clr-accent-base));
}

.st_btn--cta-outline:hover {
    background-color: rgb(var(--clr-accent-base), 0.1);
}

/* Primary Action Buttons */
.st_btn--primary {
    background-color: rgb(var(--clr-primary-base));
    border-color: rgb(var(--clr-primary-base));
    color: rgb(var(--clr-light-base));
}

.st_btn--primary:hover {
    background-color: rgb(var(--clr-primary-d-100));
    border-color: rgb(var(--clr-primary-d-100));
    color: rgb(var(--clr-light-base));
}

.st_btn--primary-outline {
    background-color: transparent;
    color: rgb(var(--clr-primary-base));
    border-color: rgb(var(--clr-primary-base));
}

.st_btn--primary-outline:hover {
    background-color: rgb(var(--clr-primary-base), 0.1);
}

/* Secondary Action Buttons */
.st_btn--secondary {
    background-color: rgb(var(--clr-secondary-base));
    border-color: rgb(var(--clr-secondary-base));
    color: rgb(var(--clr-light-base));
}

.st_btn--secondary:hover {
    background-color: rgb(var(--clr-secondary-d-100));
    border-color: rgb(var(--clr-secondary-d-100));
    color: rgb(var(--clr-light-base));
}

.st_btn--secondary-outline {
    background-color: transparent;
    color: rgb(var(--clr-secondary-base));
    border-color: rgb(var(--clr-secondary-base));
}

.st_btn--secondary-outline:hover {
    background-color: rgb(var(--clr-secondary-base), 0.1);
}

/* Text Size Modifiers */
.st_btn--txt-sm {
    font-size: 1rem;
}

.st_btn--txt-md {
    font-size: 1.25rem;
}

.st_btn--txt-lg {
    font-size: 1.5rem;
}

/* Border Radius Modifiers */
.st_btn--br-md {
    border-radius: var(--border-radius-md);
}

.st_btn--br-lg {
    border-radius: var(--border-radius-lg);
}

.st_btn--br-rounded {
    border-radius: var(--border-radius-round);
}

/* Padding Modifiers */
.st_btn--pad-inline-md {
    padding-inline: var(--rem-spacing-md);
}

.st_btn--pad-inline-lg {
    padding-inline: var(--rem-spacing-lg);
}

.st_btn--pad-block-xs {
    padding-block: var(--rem-spacing-xs);
}

.st_btn--pad-block-sm {
    padding-block: var(--rem-spacing-sm);
}
