:root {
  /* ============ PALETTE ============ */

  /* primary */
  --clr-primary-l-100: ;
  --clr-primary-base: ;
  --clr-primary-d-100: ;

  /* secondary */
  --clr-secondary-l-100: ;
  --clr-secondary-base: ;
  --clr-secondary-d-100: ;

  /* brand */
  --clr-br-green-l-100: ;
  --clr-br-green-base: ;
  --clr-br-green-d-100: ;

  /* accent */
  --clr-accent-l-100: ;
  --clr-accent-base: ;
  --clr-accent-d-100: ;


  /* grays */

  --clr-gray-l-200: ;
  --clr-gray-l-100: ;
  --clr-gray-base: ;
  --clr-gray-d-100: ;
  --clr-gray-d-200: ;

  /* text dark & light */

  --clr-light-l-100: ;
  --clr-light-base: 255, 255, 255;
  --clr-light-d-100: ;

  --clr-dark-l-100: ;
  --clr-dark-base: 0, 0, 0;
  --clr-dark-d-100: ;

  /* bg colors */
  --clr-bg-light-l-100: ;
  --clr-bg-light-base: ;
  --clr-bg-light-d-100: ;

  --clr-bg-dark-l-100: ;
  --clr-bg-dark-base: ;
  --clr-bg-dark-d-100: ;


  /* success */

  --clr-success-l-100: ;
  --clr-success-base: ;
  --clr-success-d-100: ;

  /* error */
  --clr-error-l-100: ;
  --clr-error-base: ;
  --clr-error-d-100: ;

  /* warning */
  --clr-warning-l-100: ;
  --clr-warning-base: ;
  --clr-warning-d-100: ;

  /* disabled */
  --clr-disabled-base: ;




  /* ============ FONTS ============ */
  --font-body: Roboto, sans-serif;
  --font-heading: Roboto, sans-serif;
  --font-accent: Roboto, sans-serif;


  /* ============ SPACING ============ */
  --px-spacing-xs: 4px;
  --px-spacing-sm: 8px;
  --px-spacing-md: 16px;
  --px-spacing-lg: 32px;

  --em-spacing-xs: 0.25em;
  --em-spacing-sm: 0.5em;
  --em-spacing-md: 1em;
  --em-spacing-lg: 2em;

  --rem-spacing-xs: 0.25rem;
  --rem-spacing-sm: 0.5rem;
  --rem-spacing-md: 1rem;
  --rem-spacing-lg: 2rem;


  /* ============ SIZING / LAYOUT ============ */

  /* ============ BORDER & RADIUS ============ */

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-round: 9999px;


  /* ============ SHADOWS ============ */

  /* ============ Z-INDEX ============ */

  --z-index-tooltip: 10;
  --z-index-backdrop: 100;
  --z-index-modal: 200;


  /* ============ TRANSITIONS ============ */

  --transition-ex-fast: 0.2s;
  --transition-fast: 0.3s;
  --transition-medium: 0.5s;
  --transition-slow: 0.7s;
  --transition-extra-slow: 1s;

}